.submit {
  cursor: pointer;
    border-radius: 5em;
    color: rgb(11, 117, 255);
    background: linear-gradient(to right, c#0077ff,#0077ff);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 50px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.input {
    display: inline-block;
  padding-top: 20px;
  font-size: 14px;
    
  }
.checkbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 6px;
  }
.span {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4; 
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
  }
  .text{
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
  }
  .text1{
    padding-left: 12px;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
  }
  .text2{
    padding-left: 12px;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
  }